.card {
  width: 100%;
  overflow: hidden;
  background-color: var(--background);
  border-color: var(--secondary);
  color: var(--foreground);
}

.card:hover {
  border-color: var(--neutral);
}

.card__link {
  padding: 10px;
  background-color: var(--secondary-opacity);
  border-radius: 15px;
}
