.card__header {
  width: 100%;
}

.card__header__sent {
  margin: 0;
  border: none;
}

.card__header__sent__positive {
  background-color: var(--positive);
}

.card__header__sent__negative {
  background-color: var(--negative);
}

.card__header__sent__neutral {
  background-color: var(--neutral);
}

.card__header__checkbox :global(.ant-checkbox-inner) {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background-color: transparent;
}

.card__header__info {
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: var(--foreground);
  border-radius: 0;
}
