.textarea {
  border: 1px solid var(--secondary-opacity);
  border-radius: 6px;
  padding: 8px;
  outline: none;
  overflow: auto;
  min-height: 100px;
  min-width: 350px;
  cursor: text;
  white-space: pre-wrap;
  word-break: break-word;
  position: relative;
  color: var(--background);
  background-color: var(--foreground);
}

.textarea__resize_none {
  resize: none;
}

.textarea__resize_both {
  resize: both;
}

.textarea__resize_horizontal {
  resize: horizontal;
}

.textarea__resize_vertical {
  resize: vertical;
}

.textarea.placeholder::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 8px;
  top: 8px;
  color: #999;
  pointer-events: none;
  user-select: none;
  font-style: italic;
}

.textarea__button {
  align-self: flex-start;
  color: var(--general);
  padding: 10px;
  background-color: var(--secondary-opacity);
  border-radius: 5px;
  border: none;
}

.textarea__charCount {
  margin-top: 4px;
  font-size: 14px;
  color: #666;
  user-select: none;
  text-align: right;
}
